[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
six = "*"
python-dateutil = "*"
pytz = "*"
kitchen = "*"

[dev-packages]
nose = "<2,>=1.3.4"
tox = "*"

[requires]
python_version = "3.6"
